<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AA Times</title>
</head>
<body>

<div class = "masthead">


    <div class = "language-nav">
    <ul>
        <li> CSS  </li>
        <li> HTML  </li>
        <li>Javascript </li>
        <li>Ruby</li>
    </ul>

    </div>

    <div class = "logo">
    <img src="assets/AA_Times_Logo.png">
    </div>

    <div class = "masthead-links">
        <ul>
            <li>Tuesday, October 18, 2016 </li>
            <li>Todays Paper </li>
            <li>Video </li>
            <li> 77°F</li>
             <li>AAO +100% </li>
        </ul>
    </div>
</div>








    
</body>
</html>