@use '../variables' as *;

.main-nav {
  display: flex; 
  justify-content: space-between;
  padding-top: 30px; 
  // align_items: center; 
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    gap: 15px;
}

.left-nav {

  > ul {
    > li {
      
    }
  }

  span {
    font-weight: bold;
    color: #333; 
    font-style:  nyt-franklin;
    font-size: 13px;
  }
}

.right-nav  {
  > ul {
    > li {
      
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    